out/test/**
test-fixtures/**
src/**
node_modules/**
.vscode-test/**
.venv/**
.specify/**
.vscode/**
*.vsix
.gitignore
.eslintignore
eslint.config.mjs
tsconfig.json
.github/**
specs/**
launch.json
scripts/**
